<div class="site-footer gt-c-content-color-first">
 豫ICP备2021020010号-1 ｜<a href="https://ranhe.xyz/atom.xml" target="_blank">RSS</a>｜<a href="https://ranhe.xyz/agreement" target="_blank">用户协议</a>｜<a href="https://ranhe.xyz/privacy" target="_blank">隐私政策</a>
</div>